.studentDetail{
    border: 1px solid #D3D3D3;
    width: 622px;
    height: 652px;
    text-align: center;

}

.profileImage{
    width:100%;
    height: 100%;
    object-fit: contain;

}

.selectedScreen{
    visibility: hidden;

}

.selectedScreenHidden{
    visibility: visible;
    position: absolute;
    width: 622px;
    height: 652px;
    background-color: white;
    font-size: 24px;
    font-weight: bold;
    line-height: 652px;
    z-index: 0;

}

.profileBox{
    width: 250px;
    height: 250px;
    border-radius: 70%;
    overflow: hidden;
    border: solid #E4E4E4 1px;
    margin:60px;
    display: inline-block;
    line-height: 250px;
    font-size: 13px;


}

.detailContent{
    width:100%;
    text-align: center;
    height: 570px;
}

.detailButton{
    margin-left: 11px;
    margin-right: 11px;
    display: flex;
    justify-content: space-between;

}

.saveButton{
    width: 100px;
    height:40px;
    background-color: #ECFFEB;
    border: solid black 1px;
    font-size: 18px;
    font-weight: 400;
}

.deleteButton{
    width: 100px;
    height:40px;
    background-color: #FDE4E4;
    border: solid black 1px;
    font-size: 18px;
    font-weight: 400;

}

.deleteButton:hover{
    background-color: #FF9999;
}

.saveButton:hover{
    background-color: #99FF99;
}

.nameChange, .gradeChange, .profileChange{
    margin: 11px;

}

.nameChangeInput, .gradeChangeInput, .profileChangeInput{
    height: 20px;
    width: 400px;
    background-color: #F4F4F4;
    border: solid #C2C2C2 1px;
}

.nameChangeText, .gradeChangeText, .profileChangeText{
    width: 75px;
    height: 30px;
    display: inline-block;
    font-size: 18px;
    text-align: left;
}