.waffleLogo{
    width: 54px;
    height: 58px;
    vertical-align: middle;
}

.title{
    margin: 15px;
    height: 50px;
    font-weight: bold;
    line-height: 31px;
    font-style:normal;
}

.logOutButton{
    float: right;
    width: 100px;
    height: 50px;
    background-color: #5c5c5c;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;
}

.logOutButton:hover{
    background-color: #979797;
}

.Header{
    width: 1352px;
}