.dashBoard{
    background-color: rgb(236, 236, 236);
    margin-top: 24px;
    margin-bottom: 44px;
    text-align: center;
    height: 174px;
    line-height: 174px;
    width: 1352px;

}

.totalStudent{
    position: absolute;
    top: 180px;
    left: 1000px;
    font-size: 18px;
}

.statTable{
    position: absolute;
    top: 140px;
    left: 1100px;
    border: solid black 1px;
    width: 260px;
    height: 140px;
    line-height: 90px;

}

.statTable span{
    display: block;
    height: 20px;
    margin: 5px;
}

