.search{
    height: 20px;
    width: 110px;
    margin-right: 10px;
}

.searchButton{
    height: 30px;
    width: 100px;
    left: 0;
    top: 0;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    float: right;

}

.searchButton:hover{
    background-color: #C2C2C2;
}
.searchSection{
    width:630px;
}