.listHeader{
    background-color: #C4C4C4;
    height: 65px;
    margin-top: 0;
    margin-bottom: 0;
}

.blankHeader{
    width: 380px;
    height: 60px;
}

.nameHeader{
    width: 162px;
    height: 60px;
}

.gradeHeader{
    width: 82px;
    height: 60px;
}

.studentListSection{
    padding-left: 0;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    border-collapse: collapse;
    text-align: center;

} /*table*/

.listSection{
    border: solid #D3D3D3;
    float: left;
    width: 624px;
    height: 598px;
    margin-top: 20px;
    margin-bottom: 10px;
    overflow-y: auto;

}

.emptyListSection{
    width: 100%;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    height: 530px;
    line-height: 530px;


}



