.loginWrapper{

    font-size: 25px;
    font-weight: 100;
    text-align: center;


}

.loginBox{
    width:400px;
    height: 300px;
    border-radius: 10px;
    font-size: 15px;
    border: solid rgb(216 222 228) 1px;
    position: absolute;
    left:36.5%;
    top: 120px;
    margin:50px;
    background-color: #f6f8fa;
    padding-left: 20px;
    padding-top: 50px;
    text-align: left;
    font-weight: 400;

}

.passwordText{
    display: flex;
    justify-content: space-between;
    width:370px;
}

.signUpBox{
    position: absolute;
    top:530px;
    font-size: 17px;
    font-weight: 400;
    left:36.5%;
    border-radius: 10px;
    border: solid rgb(216 222 228) 1px;
    width: 360px;
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
    margin:50px;
    line-height: 60px;
    display: flex;
    justify-content: space-between;
}

.usernameInput, .passwordInput{
    width: 370px;
    border-radius: 10px;
    border: solid rgb(216 222 228) 1px;
    height: 30px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.signInTitle{
    margin-top: 20px;
    position: absolute;
    left: 43%;
    top: 80px;
}

.signInHeader{

}

.signInButton{
    background-color: #2da44e;
    width: 370px;
    border: none;
    border-radius: 10px;
    height: 40px;
    color: white;
    margin-top: 30px;
    transition: all 0.3s;
    font-weight: 600;
    cursor: pointer;

}

.signInButton:hover{
    background-color: #216e39;
}

.footer{
    position: absolute;
    top:750px;
    left:40%;
    width: 400px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.forgotPasswordLink, .createAccountLink{
    color: #0969da;
    transition: all 0.3s;

}

.forgotPasswordLink:hover, .createAccountLink:hover{
    color: darkblue;
    cursor: pointer;
}

.waffleLogo{
    width: 54px;
    height: 58px;
    vertical-align: middle;
}