.App{
    margin: 42px;
}

.inputSection{
    width: 100%;
    display: flex;
    justify-content: space-between;
    float: left;


}

.leftScreen{
    clear:both;

}
.studentManage{
    width: 1352px;
    display: flex;
    justify-content: space-between;
}
.rightScreen{
    clear:both;
    width: 624px;
    height: 642px;
}

.verticalBorder{
    height: 650px;
    width: 0;
    border: 1px solid #E4E4E4;

}